.ant-table-wrapper {
  .ant-table-tbody > tr.ant-table-row-selected > td {
    background: #f0f9ff !important;
  }

  /* 鼠标悬浮在已选中行时，也保持同样颜色（防止 hover 变深） */
  .ant-table-tbody > tr.ant-table-row-selected:hover > td {
    background: #f0f9ff !important;
  }
}
.ant-table-wrapper {
  .ant-table-tbody > tr:hover > td {
    background: #f7fcff;
  }
}
