/* 小红点样式 */
.bp-dot {
  display: inline-block;
  flex-shrink: 0;
  width: 6px; // 改 6/8/10 都行
  vertical-align: middle;
  background-color: #ff4d4f; // 红点
  border-radius: 50%;
  aspect-ratio: 1 / 1; // 强制正圆比例
}
/* 选中行高亮 */
.row-selected {
  background: #e6f7ff !important;
}
.ant-table-tbody > tr.row-selected:hover > td {
  background: #e6f7ff !important;
}
/* 可选：左侧竖条强化选中感 */
.row-selected > td:first-child {
  position: relative;
}
// .row-selected > td:first-child::before {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   width: 3px;
//   background: #1890ff;
//   content: "";
// }
.row-active {
  background: #fffbe6 !important; /* 淡黄高亮 */
}
