/* 小红点样式 */
.breakpoint-dot {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background-color: red;
  border-radius: 50%;
}

/* 取消表格 hover 效果 */
.ant-table-tbody > tr:hover > td {
  background: inherit !important;
}
